@use './variables' as vars;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: vars.$bg-clr-primary;
    color: vars.$tx-clr-light;
    font-family: vars.$ff-sans;
    font-size: vars.$fs-075;
    height: 100%;
    min-height: 100dvh;
    overflow-x: hidden;
    position: relative;
    width: 100%;

    &:before {
        background-image: url('../images/starfield1.jpg');
        background-size: cover;
        content: "";
        opacity: 0.3;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100dvh;
        z-index: -100;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: vars.$ff-display;
    font-weight: 900;
    margin-bottom: vars.$sp-200;
}

h1 {
    font-size: clamp(2rem, 3rem, 3.5rem);
}

h2 {
    font-size: clamp(1.5rem, 2rem, 2.5rem);
}

p {
    line-height: 150%;
    margin-bottom: vars.$sp-200;
}

a {
    color: vars.$tx-clr-secondary;
}

main {
    margin: 0 auto;
    padding: 5rem 0 0 0;
}

section.content {
    margin: 2rem auto;
    max-width: 110ch;
}

.bigbox {
    display: flow-root;
    margin: vars.$sp-200 auto;
    margin: 0 auto;
    padding: 0;
    position: relative;

    article {
        margin-inline: auto;
        max-width: 110ch;
        width: 80%;
    }

    p {
        line-height: 200%;
    }

    figure {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: grid;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        overflow: hidden;
        position: relative;

        &.left {
            float: left;
            margin: 0 1rem 1rem 0;
        }

        &.right {
            float: right;
            margin: 0 0 1rem 1rem;
        }

        &:hover {

            &:before,
            &:after {
                transform: scale(1);
            }

            img {
                filter: grayscale(0);
            }

        }

        img {
            aspect-ratio: 1 / 1;
            display: block;
            margin: 0;
            filter: grayscale(100%);
            object-fit: cover;
            transition: filter 0.5s ease-in-out;
            width: 100%;
            z-index: 1;
        }

        figcaption {
            color: vars.$tx-clr-light;
            font-size: 0.7rem;
            margin-bottom: 0;
            text-align: center;
        }
    }

}

#astronaut {
    animation: float 5s ease-in-out infinite;
    position: fixed;
    top: 35rem;
    right: 4rem;
    height: auto;
    width: 75px;
    z-index: -1;
}

#earth {
    display: none;
    animation: rotate 30s linear infinite;
    position: fixed;
    bottom: 10rem;
    filter: grayscale(50%);
    left: 7rem;
    height: 50px;
    width: 50px;
    z-index: -2;
}

#mars {
    animation: rotate 20s linear infinite;
    position: fixed;
    top: 35rem;
    right: 5rem;
    height: 100px;
    width: 100px;
    z-index: -2;
}

#moon {
    animation: rotate 15s linear infinite;
    filter: grayscale(100%);
    position: fixed;
    top: 20rem;
    left: 5rem;
    height: 50px;
    width: 50px;
    z-index: -2;
}

$col-size: 25%;

header {
    margin: 3rem auto;
    width: 95%;
    max-width: vars.$max-width;

    i.fa-rocket-launch {
        display: block;
        font-size: 1.5rem;
        margin: 0 auto 1rem auto;
        text-align: center;
    }

    h2 {
        margin-bottom: 0;
        text-align: center;
    }

    p {
        text-align: center;

        small {
            font-size: 0.7rem;
        }
    }
}

.sky {
    opacity: 0.75;
    position: fixed;
    top: 0;
    left: 0;
    height: 25%;
    width: 25%;
    rotate: 45deg;
    z-index: -1;
}

/* Here we are making roundabout balls  */
.star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    border-radius: 885px;
    background: linear-gradient(-45deg,
            #eef0f5, rgba(0, 0, 255, 0));

    -webkit-filter: drop-shadow(0 0 6px #eef1f8);
    filter: drop-shadow(0 0 6px #d7dff0);
    -webkit-animation: tail 3000ms ease-in-out infinite,
        shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite,
        shooting 3000ms ease-in-out infinite;
}

/* Here we add before and after effect to star */
.star::before,
.star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg,
            rgba(0, 0, 255, 0),
            #eaeef8,
            rgba(0, 0, 255, 0));
    -webkit-transform: translateX(50%) rotateZ(45deg);
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}

.star::after {
    -webkit-transform: translateX(50%) rotateZ(-45deg);
    transform: translateX(50%) rotateZ(-45deg);
}

/* Here we are adding location of each 
     nth-child, animations, delays, and 
     before and after effects to each 
     and every balls(stars) */
.star:nth-child(1) {
    top: calc(50% - -119px);
    left: calc(50% - 43px);
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
}

.star:nth-child(2) {
    top: calc(50% - -43px);
    left: calc(50% - 37px);
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
}

.star:nth-child(3) {
    top: calc(50% - -40px);
    left: calc(50% - 222px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}

.star:nth-child(4) {
    top: calc(50% - -29px);
    left: calc(50% - 113px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}

.star:nth-child(5) {
    top: calc(50% - 146px);
    left: calc(50% - 112px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}

.star:nth-child(5)::before,
.star:nth-child(5)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}

.star:nth-child(6) {
    top: calc(50% - -108px);
    left: calc(50% - 160px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}

.star:nth-child(6)::before,
.star:nth-child(6)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}

.star:nth-child(7) {
    top: calc(50% - 52px);
    left: calc(50% - 72px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}

.star:nth-child(7)::before,
.star:nth-child(7)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}

@keyframes float {
    0% {
        top: 35rem;
    }

    50% {
        top: 36rem;
    }

    100% {
        top: 35rem;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* This code will help to generate 
  effect in tail of star */
@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

/* This code will generate shining 
  effect in head of star */
@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

/* Here we make shooting effect */
@keyframes shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(270px);
        transform: translateX(270px);
    }
}