@use './variables' as vars;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: vars.$bg-clr-primary;
    color: vars.$tx-clr-light;
    font-family: vars.$ff-sans;
    font-size: calc(vars.$fs-050 * 1.25);
    height: 100%;
    min-height: 100dvh;
    overflow-x: hidden;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: vars.$ff-display;
    font-weight: 900;
    margin-bottom: vars.$sp-200;
}

h1 {
    font-size: clamp(2rem, 3rem, 3.5rem);
}

h2 {
    font-size: clamp(1.5rem, 2rem, 2.5rem);
}

p {
    line-height: 150%;
    margin-bottom: vars.$sp-200;
}

a {
    color: vars.$tx-clr-secondary;
}

main {
    margin: 0 auto;
    padding: 0 0 300px 0;
}

section.content {
    margin: 2rem auto;
    max-width: 110ch;
}

figure {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    &.left {
        float: left;
        margin: 0 1rem 1rem 0;
    }

    &.right {
        float: right;
        margin: 0 0 1rem 1rem;
    }

    &:hover {

        &:before,
        &:after {
            transform: scale(1);
        }

        img {
            filter: grayscale(0);
        }

    }

    img {
        aspect-ratio: 1 / 1;
        display: block;
        margin: 0;
        filter: grayscale(100%);
        object-fit: cover;
        transition: filter 0.5s ease-in-out;
        width: 100%;
        z-index: 1;
    }

    figcaption {
        color: vars.$tx-clr-light;
        font-size: 0.7rem;
        margin-bottom: 0;
        text-align: center;
    }
}

.bigbox {
    display: flow-root;
    margin: vars.$sp-200 auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 110ch;
    width: 80%;

    p {
        line-height: 200%;
    }
}