---

---

<footer id="site">
    <section class="info">
        <p>
            &copy; <script type="text/javascript" is:inline>
                document.write(new Date().getFullYear());
            </script> Rocket Comics. All Rights Reserved. Designed by <a
                href="https://mackrichardson.com"
                target="_blank"
                rel="noopener">Mack Richardson</a
            >
            <br />
            <a
                href="https://twitter.com/mackdaddyfun"
                target="_blank"
                rel="noopener">Twitter</a
            >
            | <a
                href="https://facebook.com/mackdaddyfun"
                target="_blank"
                rel="noopener">Facebook</a
            >
            | <a
                href="https://instagram.com/mackdaddyfun"
                target="_blank"
                rel="noopener">Instagram</a
            >
        </p>
    </section>
    <span class="footer__deco">&nbsp;</span>
    <span class="footer__bg">&nbsp;</span>
</footer>

<style lang="scss">
    @use "../styles/variables" as vars;

    $height: 200px;
    footer#site {
        color: vars.$tx-clr-primary;
        display: grid;
        align-content: end;
        justify-content: center;
        margin-top: 15rem;
        padding: 0;
        position: relative;
        width: 100%;
        z-index: 100;

        section.info {
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 1.5rem 1rem;
            position: relative;
            z-index: 100;

            & > p {
                margin: 0;
                padding: 1rem;
                text-align: center;
            }
        }

        & > .footer__deco {
            background: url("/images/launchpad.png") no-repeat 47.5% bottom;
            height: 200px;
            position: absolute;
            left: 0;
            right: 0;
            top: -90%;
            z-index: 1;
        }
        & > .footer__bg {
            background-color: vars.$bg-clr-secondary;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
</style>
