---
import Figure from "./Figure.astro";
---

<header>
    <i class="fa-sharp fa-solid fa-rocket-launch"></i>
    <h2 class="center">Rocket Comics Memories</h2>
    <p>
        <small
            ><i
                >Please excuse the quality of some of these photos. Higher
                quality scans are in the works.</i
            ></small
        >
    </p>
</header>

<div class="gallery">
    <div class="slider">
        <div class="gallery-images">
            <!-- Item 1 -->
            <div class="item" style="--position: 1">
                <a
                    href="/images/rocket_comics/rocket_comics_1.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_1.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 2 -->
            <div class="item" style="--position: 2">
                <a
                    href="/images/rocket_comics/rocket_comics_2.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_2.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 3 -->
            <div class="item" style="--position: 3">
                <a
                    href="/images/rocket_comics/rocket_comics_3.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_3.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 4 -->
            <div class="item" style="--position: 4">
                <a
                    href="/images/rocket_comics/rocket_comics_4.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_4.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 5 -->
            <div class="item" style="--position: 5">
                <a
                    href="/images/rocket_comics/rocket_comics_5.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_5.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 6 -->
            <div class="item" style="--position: 6">
                <a
                    href="/images/rocket_comics/rocket_comics_6.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_6.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 7 -->
            <div class="item" style="--position: 7">
                <a
                    href="/images/rocket_comics/rocket_comics_7.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_7.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 8 -->
            <div class="item" style="--position: 8">
                <a
                    href="/images/rocket_comics/rocket_comics_8.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_8.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 9 -->
            <div class="item" style="--position: 9">
                <a
                    href="/images/rocket_comics/rocket_comics_9.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_9.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 10 -->
            <div class="item" style="--position: 10">
                <a
                    href="/images/rocket_comics/rocket_comics_10.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_10.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 11 -->
            <div class="item" style="--position: 11">
                <a
                    href="/images/rocket_comics/rocket_comics_11.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_11.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 12 -->
            <div class="item" style="--position: 12">
                <a
                    href="/images/rocket_comics/rocket_comics_12.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_12.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 13 -->
            <div class="item" style="--position: 13">
                <a
                    href="/images/rocket_comics/rocket_comics_13.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_13.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 14 -->
            <div class="item" style="--position: 14">
                <a
                    href="/images/rocket_comics/rocket_comics_14.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_14.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 15 -->
            <div class="item" style="--position: 15">
                <a
                    href="/images/rocket_comics/rocket_comics_15.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_15.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 16 -->
            <div class="item" style="--position: 16">
                <a
                    href="/images/rocket_comics/rocket_comics_16.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_16.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 17 -->
            <div class="item" style="--position: 17">
                <a
                    href="/images/rocket_comics/rocket_comics_17.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_17.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 18 -->
            <div class="item" style="--position: 18">
                <a
                    href="/images/rocket_comics/rocket_comics_18.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_18.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 19 -->
            <div class="item" style="--position: 19">
                <a
                    href="/images/rocket_comics/rocket_comics_19.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_19.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 20 -->
            <div class="item" style="--position: 20">
                <a
                    href="/images/rocket_comics/rocket_comics_20.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_20.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 21 -->
            <div class="item" style="--position: 21">
                <a
                    href="/images/rocket_comics/rocket_comics_21.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_21.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 22 -->
            <div class="item" style="--position: 22">
                <a
                    href="/images/rocket_comics/rocket_comics_22.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_22.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 23 -->
            <div class="item" style="--position: 23">
                <a
                    href="/images/rocket_comics/rocket_comics_23.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_23.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 24 -->
            <div class="item" style="--position: 24">
                <a
                    href="/images/rocket_comics/rocket_comics_24.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_24.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 25 -->
            <div class="item" style="--position: 25">
                <a
                    href="/images/rocket_comics/rocket_comics_25.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_25.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 26 -->
            <div class="item" style="--position: 26">
                <a
                    href="/images/rocket_comics/rocket_comics_26.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_26.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 27 -->
            <div class="item" style="--position: 27">
                <a
                    href="/images/rocket_comics/rocket_comics_27.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_27.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 28 -->
            <div class="item" style="--position: 28">
                <a
                    href="/images/rocket_comics/rocket_comics_28.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_28.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 29 -->
            <div class="item" style="--position: 29">
                <a
                    href="/images/rocket_comics/rocket_comics_29.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_29.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 30 -->
            <div class="item" style="--position: 30">
                <a
                    href="/images/rocket_comics/rocket_comics_30.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_30.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 31 -->
            <div class="item" style="--position: 31">
                <a
                    href="/images/rocket_comics/rocket_comics_31.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_31.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 32 -->
            <div class="item" style="--position: 32">
                <a
                    href="/images/rocket_comics/rocket_comics_32.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_32.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 33 -->
            <div class="item" style="--position: 33">
                <a
                    href="/images/rocket_comics/rocket_comics_33.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_33.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 34 -->
            <div class="item" style="--position: 34">
                <a
                    href="/images/rocket_comics/rocket_comics_34.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_34.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 35 -->
            <div class="item" style="--position: 35">
                <a
                    href="/images/rocket_comics/rocket_comics_35.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_35.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 36 -->
            <div class="item" style="--position: 36">
                <a
                    href="/images/rocket_comics/rocket_comics_36.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_36.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 37 -->
            <div class="item" style="--position: 37">
                <a
                    href="/images/rocket_comics/rocket_comics_37.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_37.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 38 -->
            <div class="item" style="--position: 38">
                <a
                    href="/images/rocket_comics/rocket_comics_38.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_38.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 39 -->
            <div class="item" style="--position: 39">
                <a
                    href="/images/rocket_comics/rocket_comics_39.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_39.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 40 -->
            <div class="item" style="--position: 40">
                <a
                    href="/images/rocket_comics/rocket_comics_40.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_40.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 41 -->
            <div class="item" style="--position: 41">
                <a
                    href="/images/rocket_comics/rocket_comics_41.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_41.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 42 -->
            <div class="item" style="--position: 42">
                <a
                    href="/images/rocket_comics/rocket_comics_42.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_42.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 43 -->
            <div class="item" style="--position: 43">
                <a
                    href="/images/rocket_comics/rocket_comics_43.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_43.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 44 -->
            <div class="item" style="--position: 44">
                <a
                    href="/images/rocket_comics/rocket_comics_44.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_44.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 1 -->
            <div class="item" style="--position: 1">
                <a
                    href="/images/rocket_comics/rocket_comics_1.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_1.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 2 -->
            <div class="item" style="--position: 2">
                <a
                    href="/images/rocket_comics/rocket_comics_2.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_2.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 3 -->
            <div class="item" style="--position: 3">
                <a
                    href="/images/rocket_comics/rocket_comics_3.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_3.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 4 -->
            <div class="item" style="--position: 4">
                <a
                    href="/images/rocket_comics/rocket_comics_4.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_4.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 5 -->
            <div class="item" style="--position: 5">
                <a
                    href="/images/rocket_comics/rocket_comics_5.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_5.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 6 -->
            <div class="item" style="--position: 6">
                <a
                    href="/images/rocket_comics/rocket_comics_6.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_6.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 7 -->
            <div class="item" style="--position: 7">
                <a
                    href="/images/rocket_comics/rocket_comics_7.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_7.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 8 -->
            <div class="item" style="--position: 8">
                <a
                    href="/images/rocket_comics/rocket_comics_8.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_8.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 9 -->
            <div class="item" style="--position: 9">
                <a
                    href="/images/rocket_comics/rocket_comics_9.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_9.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 10 -->
            <div class="item" style="--position: 10">
                <a
                    href="/images/rocket_comics/rocket_comics_10.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_10.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 11 -->
            <div class="item" style="--position: 11">
                <a
                    href="/images/rocket_comics/rocket_comics_11.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_11.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 12 -->
            <div class="item" style="--position: 12">
                <a
                    href="/images/rocket_comics/rocket_comics_12.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_12.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 13 -->
            <div class="item" style="--position: 13">
                <a
                    href="/images/rocket_comics/rocket_comics_13.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_13.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 14 -->
            <div class="item" style="--position: 14">
                <a
                    href="/images/rocket_comics/rocket_comics_14.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_14.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 15 -->
            <div class="item" style="--position: 15">
                <a
                    href="/images/rocket_comics/rocket_comics_15.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_15.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 16 -->
            <div class="item" style="--position: 16">
                <a
                    href="/images/rocket_comics/rocket_comics_16.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_16.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 17 -->
            <div class="item" style="--position: 17">
                <a
                    href="/images/rocket_comics/rocket_comics_17.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_17.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 18 -->
            <div class="item" style="--position: 18">
                <a
                    href="/images/rocket_comics/rocket_comics_18.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_18.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 19 -->
            <div class="item" style="--position: 19">
                <a
                    href="/images/rocket_comics/rocket_comics_19.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_19.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 20 -->
            <div class="item" style="--position: 20">
                <a
                    href="/images/rocket_comics/rocket_comics_20.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_20.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 21 -->
            <div class="item" style="--position: 21">
                <a
                    href="/images/rocket_comics/rocket_comics_21.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_21.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 22 -->
            <div class="item" style="--position: 22">
                <a
                    href="/images/rocket_comics/rocket_comics_22.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_22.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 23 -->
            <div class="item" style="--position: 23">
                <a
                    href="/images/rocket_comics/rocket_comics_23.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_23.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 24 -->
            <div class="item" style="--position: 24">
                <a
                    href="/images/rocket_comics/rocket_comics_24.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_24.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 25 -->
            <div class="item" style="--position: 25">
                <a
                    href="/images/rocket_comics/rocket_comics_25.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_25.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 26 -->
            <div class="item" style="--position: 26">
                <a
                    href="/images/rocket_comics/rocket_comics_26.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_26.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 27 -->
            <div class="item" style="--position: 27">
                <a
                    href="/images/rocket_comics/rocket_comics_27.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_27.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 28 -->
            <div class="item" style="--position: 28">
                <a
                    href="/images/rocket_comics/rocket_comics_28.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_28.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 29 -->
            <div class="item" style="--position: 29">
                <a
                    href="/images/rocket_comics/rocket_comics_29.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_29.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 30 -->
            <div class="item" style="--position: 30">
                <a
                    href="/images/rocket_comics/rocket_comics_30.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_30.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 31 -->
            <div class="item" style="--position: 31">
                <a
                    href="/images/rocket_comics/rocket_comics_31.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_31.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 32 -->
            <div class="item" style="--position: 32">
                <a
                    href="/images/rocket_comics/rocket_comics_32.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_32.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 33 -->
            <div class="item" style="--position: 33">
                <a
                    href="/images/rocket_comics/rocket_comics_33.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_33.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 34 -->
            <div class="item" style="--position: 34">
                <a
                    href="/images/rocket_comics/rocket_comics_34.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_34.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 35 -->
            <div class="item" style="--position: 35">
                <a
                    href="/images/rocket_comics/rocket_comics_35.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_35.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 36 -->
            <div class="item" style="--position: 36">
                <a
                    href="/images/rocket_comics/rocket_comics_36.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_36.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 37 -->
            <div class="item" style="--position: 37">
                <a
                    href="/images/rocket_comics/rocket_comics_37.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_37.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 38 -->
            <div class="item" style="--position: 38">
                <a
                    href="/images/rocket_comics/rocket_comics_38.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_38.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 39 -->
            <div class="item" style="--position: 39">
                <a
                    href="/images/rocket_comics/rocket_comics_39.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_39.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 40 -->
            <div class="item" style="--position: 40">
                <a
                    href="/images/rocket_comics/rocket_comics_40.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_40.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 41 -->
            <div class="item" style="--position: 41">
                <a
                    href="/images/rocket_comics/rocket_comics_41.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_41.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 42 -->
            <div class="item" style="--position: 42">
                <a
                    href="/images/rocket_comics/rocket_comics_42.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_42.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 43 -->
            <div class="item" style="--position: 43">
                <a
                    href="/images/rocket_comics/rocket_comics_43.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_43.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 44 -->
            <div class="item" style="--position: 44">
                <a
                    href="/images/rocket_comics/rocket_comics_44.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_44.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 45 -->
            <div class="item" style="--position: 45">
                <a
                    href="/images/rocket_comics/rocket_comics_45.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_45.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 46 -->
            <div class="item" style="--position: 46">
                <a
                    href="/images/rocket_comics/rocket_comics_46.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_46.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 47 -->
            <div class="item" style="--position: 47">
                <a
                    href="/images/rocket_comics/rocket_comics_47.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_47.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 48 -->
            <div class="item" style="--position: 48">
                <a
                    href="/images/rocket_comics/rocket_comics_48.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_48.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 49 -->
            <div class="item" style="--position: 49">
                <a
                    href="/images/rocket_comics/rocket_comics_49.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_49.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 50 -->
            <div class="item" style="--position: 50">
                <a
                    href="/images/rocket_comics/rocket_comics_50.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_50.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 51 -->
            <div class="item" style="--position: 51">
                <a
                    href="/images/rocket_comics/rocket_comics_51.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_51.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 52 -->
            <div class="item" style="--position: 52">
                <a
                    href="/images/rocket_comics/rocket_comics_52.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_52.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 53 -->
            <div class="item" style="--position: 53">
                <a
                    href="/images/rocket_comics/rocket_comics_53.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_53.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
            <!-- Item 54 -->
            <div class="item" style="--position: 54">
                <a
                    href="/images/rocket_comics/rocket_comics_54.webp"
                    title="Rocket Comics"
                    target="_blank">
                    <img
                        src="/images/rocket_comics/rocket_comics_54.webp"
                        alt=""
                        title="Rocket Comics"
                    />
                </a>
            </div>
        </div>
    </div>
</div>

<style lang="scss">
    @use "../styles/variables" as vars;

    :root {
        --width: 300px;
        --height: 300px;
        --quantity: 54;
        --timer: 120s;
    }

    .gallery {
        background-color: hsl(0, 0%, 95%, 1);
        border: 10px solid hsl(0, 0%, 95%, 1);
        border-inline: none;
        border-radius: 0;
        margin: 0 auto;
        padding: 0;
        perspective: 0;
        position: relative;
        -webkit-perspective: 0;
        width: 100%;

        &:before {
            background-color: hsl(0, 0%, 95%, 1);
            border-radius: 0;
            border-top-right-radius: 5px;
            color: vars.$bg-clr-primary;
            content: "Gallery";
            font-family: vars.$ff-display;
            font-weight: bold;
            height: 50px;
            left: -10px;
            padding: 1rem 2rem;
            position: absolute;
            text-transform: uppercase;
            top: -50px;
            width: fit-content;
            z-index: -1;
        }

        .slider {
            height: var(--height);
            width: 100%;

            .gallery-images {
                display: flex;
                gap: 0;
                width: 100%;
                min-width: calc(var(--width) * var(--quantity));
                position: relative;

                & > .item {
                    border-inline: 5px solid hsl(0, 0%, 95%, 1);
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    left: 100%;
                    height: var(--height);
                    width: var(--width);
                    animation: autoRun var(--timer) linear infinite;
                    animation-delay: calc(
                        (var(--timer) / var(--quantity)) * (var(--position) - 1) - var(
                                --timer
                            )
                    ) !important;

                    & > a {
                        display: block;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        width: 100%;

                        & > img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }

                &:hover .item {
                    animation-play-state: paused !important;
                    filter: grayscale(1);
                }
                & .item:hover {
                    filter: grayscale(0);
                }
            }

            @keyframes autoRun {
                from {
                    left: 100%;
                }

                to {
                    left: calc(var(--width) * -1);
                }
            }
        }
    }
</style>
