---
import Figure from "./Figure.astro";
---

<header>
    <i class="fa-sharp fa-solid fa-rocket-launch"></i>
    <h2 class="center">Rocket Comics Memories</h2>
    <p>
        <small
            ><i
                >Please excuse the quality of some of these photos. Higher
                quality scans are in the works.</i
            ></small
        >
    </p>
</header>

<div class="gallery">
    <div class="gallery-images">
        <Figure
            id="1"
            filename="rocket_comics_1.jpg"
            alt="Pre-Lauch, August 1991"
        />
        <Figure
            id="2"
            filename="rocket_comics_2.jpg"
            alt="Pre-Lauch, August 1991"
        />
        <Figure
            id="3"
            filename="rocket_comics_3.jpg"
            alt="Opening Day, October 1991"
        />
        <Figure
            id="4"
            filename="rocket_comics_4.jpg"
            alt="Opening Day, October 1991"
        />
        <Figure
            id="5"
            filename="rocket_comics_5.jpg"
            alt="Opening Day, October 1991"
        />
        <Figure
            id="6"
            filename="rocket_comics_6.jpg"
            alt="Opening Day, October 1991"
        />
        <Figure
            id="8"
            filename="rocket_comics_8.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="7"
            filename="rocket_comics_7.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="9"
            filename="rocket_comics_9.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="10"
            filename="rocket_comics_10.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="11"
            filename="rocket_comics_11.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="12"
            filename="rocket_comics_12.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="13"
            filename="rocket_comics_13.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="14"
            filename="rocket_comics_14.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="15"
            filename="rocket_comics_15.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="16"
            filename="rocket_comics_16.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="17"
            filename="rocket_comics_17.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="18"
            filename="rocket_comics_18.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="19"
            filename="rocket_comics_19.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="20"
            filename="rocket_comics_20.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="21"
            filename="rocket_comics_21.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="22"
            filename="rocket_comics_22.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="23"
            filename="rocket_comics_23.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="24"
            filename="rocket_comics_24.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="25"
            filename="rocket_comics_25.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="26"
            filename="rocket_comics_26.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="27"
            filename="rocket_comics_27.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="28"
            filename="rocket_comics_28.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="29"
            filename="rocket_comics_29.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="30"
            filename="rocket_comics_30.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="31"
            filename="rocket_comics_31.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="32"
            filename="rocket_comics_32.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="33"
            filename="rocket_comics_33.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="34"
            filename="rocket_comics_34.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="35"
            filename="rocket_comics_35.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="36"
            filename="rocket_comics_36.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="37"
            filename="rocket_comics_37.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="38"
            filename="rocket_comics_38.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="39"
            filename="rocket_comics_39.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="40"
            filename="rocket_comics_40.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="41"
            filename="rocket_comics_41.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="42"
            filename="rocket_comics_42.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="43"
            filename="rocket_comics_43.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="44"
            filename="rocket_comics_44.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="45"
            filename="rocket_comics_45.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="46"
            filename="rocket_comics_46.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="47"
            filename="rocket_comics_47.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="48"
            filename="rocket_comics_48.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="49"
            filename="rocket_comics_49.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="50"
            filename="rocket_comics_50.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="51"
            filename="rocket_comics_51.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="52"
            filename="rocket_comics_52.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="53"
            filename="rocket_comics_53.jpg"
            alt="Rocket Comics, 1991"
        />
        <Figure
            id="54"
            filename="rocket_comics_54.jpg"
            alt="Rocket Comics, 1991"
        />
    </div>
</div>

<style lang="scss">
    @use "../styles/variables" as vars;
    $col-size: 25%;

    header {
        margin: 3rem auto;
        width: 95%;
        max-width: vars.$max-width;

        i.fa-rocket-launch {
            display: block;
            font-size: 1.5rem;
            margin: 0 auto 1rem auto;
            text-align: center;
        }

        h2 {
            margin-bottom: 0;
            text-align: center;
        }

        p {
            text-align: center;
            small {
                font-size: 0.7rem;
            }
        }
    }

    .gallery {
        background-color: hsl(0, 0%, 95%, 0.25);
        border-bottom-right-radius: 0;
        border-radius: 20px;
        border-top-left-radius: 0;
        border: 10px solid hsl(0, 0%, 95%, 1);
        margin: 0 auto;
        padding: 0;
        perspective: 0;
        position: relative;
        -webkit-perspective: 0;
        max-width: vars.$max-width;
        width: 95%;

        &:before {
            background-color: hsl(0, 0%, 95%, 1);
            border-radius: 0;
            border-top-right-radius: 5px;
            color: vars.$bg-clr-primary;
            content: "Gallery";
            font-family: vars.$ff-display;
            font-weight: bold;
            height: 50px;
            left: -10px;
            padding: 1rem 2rem;
            position: absolute;
            text-transform: uppercase;
            top: -50px;
            width: fit-content;
            z-index: -1;
        }
    }
    .gallery-images {
        align-items: center;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
</style>
