---
import SocialShare from "./SocialShare.astro";
---

<section class="outro">
    <article>
        <h2>Thank You for Visiting Rocket Comics</h2>
        <p>
            We hope you enjoyed your trip down memory lane with Rocket Comics.
            If you did, please share the site with others who would appreciate a
            nostalgic pop culture journey or were Rocket Comics' customers.
        </p>

        <p>
            If you have any photos, videos or articles featuring Rocket Comics,
            please contact <a
                href="mailto:mack@mackrichardson.com"
                title="Contact Mack Richardson"
                >Mack Richardson (mack@mackrichardson.com)</a
            > about adding them to the site.
        </p>
    </article>
    <SocialShare />
</section>
<style lang="scss">
    @use "../styles/variables" as vars;

    .outro {
        margin: 3rem auto 0 auto;
        position: relative;
        width: 90%;
        z-index: 1;

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: vars.$max-width;
        }

        article {
            height: fit-content;
            @media screen and (min-width: 768px) {
                width: 75%;
            }
        }

        h2 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }
</style>
