---
const { siteName, author, url } = Astro.props;
---

<div class="bigbox">
    <h1>Welcome Back to {siteName}!</h1>
    <figure class="left">
        <img
            src="/images/rocket_comics_logo.png"
            alt="The original Rocket Comics logo."
        />
        <figcaption>The original Rocket Comics logo.</figcaption>
    </figure>
    <figure class="right">
        <img
            src="/images/rocket_comics/rocket_comics_0.jpg"
            alt="An early advertisement for Rocket Comics in the Burlington-Times News."
        />
        <figcaption>
            An early advertisement for Rocket Comics in the Burlington-Times
            News.
        </figcaption>
    </figure>
    <p>
        In 1991, Mack Richardson opened the doors of Rocket Comics in
        Burlington, NC. It was an exciting time to be a comic book fan and,
        doubly so, for those who wanted to share their love of comics with
        others. Mack's shop was a place where fans could gather, talk about
        their favorite characters, and discover new stories. It was a comic book
        shop meant for comic book fans.
    </p>
    <p>
        Even though the shop has been closed for a few years now, the spirit of
        Rocket Comics lives on. This site is a tribute to the shop and the fans
        who made it a special place.
    </p>
    <p>
        The comic book industry <i>(and world, at large)</i> has changed so much
        over the last 30 years. In many ways, it seems to be a much more challenging
        environment to successfully operate a comic book shop. That being said, plans
        are in the works to reopen Rocket Comics. <strong>Stay tuned!</strong>
    </p>
</div>

<style lang="scss">
    .bigbox {
        figure {
            max-width: 200px;
        }
    }
</style>
