---
// data imports
import * as site from "../data/site.json";

import BaseHead from "../components/BaseHead.astro";
import BaseEnd from "../components/BaseEnd.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { siteName, author, url, logo } = site;
---

<!doctype html>
<html lang="en">
	<BaseHead />
	<body>
		<Header siteName={siteName} author={author} url={url} logo={logo} />
		<main>
			<slot />
		</main>
		<Footer />

		<img
			src="/images/astronaut.webp"
			alt="Astronaut"
			class="float"
			id="astronaut"
		/>
		<!--<img src="/images/earth.webp" alt="Earth" class="rotate" id="earth" />-->
		<img src="/images/mars.webp" alt="Mars" class="rotate" id="mars" />
		<img src="/images/mars.webp" alt="Moon" class="rotate" id="moon" />
	</body><BaseEnd />
</html>
